@model IEnumerable<TodoApp.Models.TodoItem>

@{
    ViewData["Title"] = "ToDo";
}
<h1 style="text-align: center; margin-bottom: 20px;">Things To Do <a asp-action="Create" class="btn btn-primary">Create New</a></h1>
<table class="table text-center">
    <thead style="display:table-header-group;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComleted)
            </th>
            <th>
                Other
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="align-middle">
            <td style="font-size: 20px;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-success">Done</button>
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
